@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Playfair+Display:ital@1&display=swap');




/* -------------------------------------------------------------------------------------
styles qui s'appliquent à toute la page
------------------------------------------------------------------------------------- */


body {
    width: 100vw;
    overflow-x: hidden;
}

body * {
    font-family: 'Montserrat';
    overflow: hidden;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 30px;
}

h2 {
    font-family: 'EB Garamond';
    font-size: 29,12px;
}

p {
    font-size: 20px;
}

button {
    font-size: 15px;
}

.discover {
    background-color: antiquewhite;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.articles-container {
    width: 100vw;
}

.btn-addtocart, .btn-validate {
    width: 197px;
    height: 42px;
    background-color: white;
}


.btn-discover {
    background: none;
    border: 1px solid white;
    color: white;
    width: 197px;
    height: 42px;
    margin-right: 7%;
    margin-bottom: 5%;
}

.btn-discover:hover {
    background: black;
    border: 1px solid white;
    color: white;
}

.btn-addtocart:hover, .btn-validate:hover {
    background: black;
    border: 1px solid white;
    color: white;
}


/* -------------------------------------------------------------------------------------
styles du header
------------------------------------------------------------------------------------- */




header {
    height: 90px;
    width: 100vw;
}

.header-wrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
}

.icons {
    width: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar , .wishlist {
    display: none;
}

.burger-menu {
    height: 27px;
    width: 35px;
}

.search {
    height: 27px;
    width: 27px;
}

.cart {
    height: 27px;
    width: 33px;
}


header img {
    width: 100%;
    height: 100%;
}


/* -------------------------------------------------------------------------------------
styles du panier 
------------------------------------------------------------------------------------- */

.cart-container {
    width: 428px;
    height: 675px;
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    visibility: hidden;
}

.cross {
    width: 33px;
    height: 27px;
}

/* -------------------------------------------------------------------------------------
styles de la première section 
------------------------------------------------------------------------------------- */


.discover-watches {
    height: 620px;
    background-image: url('/assets/svg/discover-watches.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.container-watches {
    width: 100vw;
    height: 1500px;
    display: flex;
    overflow-x: auto;
}

.wrapper-watches {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.watch {
    width: 274px;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.images-small {
    width: 229px;
    height: 255px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wrapper-watches .watch:first-child .images-small {
    background-image: url('/assets/svg/montre1.svg');
}

.wrapper-watches .watch:nth-child(2) .images-small {
    background-image: url('/assets/svg/montre2.svg');
}

.wrapper-watches .watch:last-child .images-small {
    background-image: url('/assets/svg/montre3.svg');
}

.like {
    align-self: flex-start;
    z-index: 2;
    height: 19px;
    width: 22px;
}




/* -------------------------------------------------------------------------------------
styles de la deuxième section 
------------------------------------------------------------------------------------- */




.discover-clothes {
    height: 450px;
    background-image: url('/assets/svg/discover-clothes.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.container-clothes {
    height: 2244px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.wrapper-clothes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clothe {
    width: 370px;
    height: 493px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.images-medium {
    height: 370px;
    width: 370px; 
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper-clothes .clothe:first-child .images-medium {
    background-image: url('/assets/svg/costume1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.wrapper-clothes .clothe:nth-child(2) .images-medium {
    background-image: url('/assets/svg/costume2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.wrapper-clothes .clothe:nth-child(3) .images-medium {
    background-image: url('/assets/svg/costume3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.wrapper-clothes .clothe:last-child .images-medium {
    background-image: url('/assets/svg/costume4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}



/* -------------------------------------------------------------------------------------
styles de la troisième section 
------------------------------------------------------------------------------------- */



.discover-shoes {
    height: 450px;
    background-image: url('/assets/svg/discover-shoes.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.container-shoes {
    width: 100vw;
    height: 1500px;
    display: flex;
    overflow-x: auto;
}

.wrapper-shoes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.shoe {
    width: 274px;
    height: 450px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.images-small {
    width: 229px;
    height: 255px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}

.wrapper-shoes .shoe:first-child .images-small {
    background-image: url('/assets/svg/chaussure1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.wrapper-shoes .shoe:nth-child(2) .images-small {
    background-image: url('/assets/svg/chaussure2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.wrapper-shoes .shoe:last-child .images-small {
    background-image: url('/assets/svg/chaussure3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/* -------------------------------------------------------------------------------------
styles du footer 
------------------------------------------------------------------------------------- */

footer {
    width: 100vw;
    height: 450px;
    background-color: #322D2D;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
}

footer p {
    font-size: 12px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.footer-group-one {
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 20%;
}

.footer-group-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}


/* -------------------------------------------------------------------------------------
media queries tablette
------------------------------------------------------------------------------------- */


@media screen and (min-width: 1024px) {
    /* general tablette */
    button {
        font-size: 18px;
    }
    h2 {
        font-size: 47.12px;
    }
    .btn-addtocart, .btn-validate {
        width: 312px;
        height: 55px;
    }
    .btn-discover {
        width: 312px;
        height: 55px;
    }
    .like {
        height: 26px;
        width: 30px;
    }
   /* header tablette */
   .icons {
       width: 380px;
   }
   .wishlist {
       display: block;
       height: 30px;
       width: 38px;
   }
   .search {
    display: none;
    }
    .searchbar {
        display: block;
    }
    .burger-menu {
        height: 32px;
        width: 40px;
    }
    .cart {
        height: 30px;
        width: 38px;
    }
    /* panier tablette */
    .cart-container {
        width: 754px;
        height: 1085px;
    }
    .cross {
        height: 30px;
        width: 38px;
    }
    /* première section tablette */
    .container-watches {
        height: 676px;
    }
    .wrapper-watches {
        width: 100%;
        flex-direction: row;
    }
    .watch {
        height: 453px;
        width: 33%;
    }
    /* deuxième section tablette */
    .discover-clothes {
        height: 769px;
    }
    .container-clothes {
        height: 1333px;
    }
    
    .wrapper-clothes { 
        height: 1137px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .clothe {
        width: 460px;
        height: 509px;
    }
    
    .images-medium {
        height: 300px;
        width: 300px; 
    }
    /* troisième section tablette */
    
    .discover-shoes {
        height: 682px;
    }

    .container-shoes {
        height: 740px;
    }

    .wrapper-shoes {
        width: 100%;
        flex-direction: row;
    }

    .shoe {
        width: 383px;
        height: 453px;
    }
    /* footer tablette */
    .socials {
        /* width: 22vw; */
        height: 50px;
    }
    footer p {
        font-size: 15px;
    }
}



/* -------------------------------------------------------------------------------------
media queries desktop
------------------------------------------------------------------------------------- */

@media screen and (min-width: 1920px) {
    /* general desktop */
    .like {
        height: 32px;
        width: 37px;
    }
    /* header desktop */
    .icons {
       width: 380px;
    }
    /* panier desktop */
    .cart-container {
        width: 977px;
    }
    /* première section desktop */
    .discover-watches {
        height: 810px;
    }
    .container-watches {
        height: 1075px;
        width: 100vw;
    }
    .wrapper-watches {
        width: 100%;
    }
    .watch {
        height: 641px;
        width: 600px;
    }
    .images-small {
        width: 600px;
        height: 529px;
    }
    /* deuxième section desktop */
    .discover-clothes {
        height: 804px;
    }
    .container-clothes {
        height: 1930px;
    }
    
    .wrapper-clothes { 
        height: 100%;
        display: grid;
        grid-template-areas: "clothe-one clothe-two"
                             "clothe-one clothe-three"
                             "clothe-one clothe-four";
        
    }
    .clothe {
        width: 460px;
        height: 520px;
    }
    .wrapper-clothes div:first-child {
        width: 925px;
        height: 1620px;
        grid-area: clothe-one;
    }
    .wrapper-clothes div:nth-child(2) {
        grid-area: clothe-two;
    }
    .wrapper-clothes div:nth-child(3) {
        grid-area: clothe-three;
    }
    .wrapper-clothes div:last-child {
        grid-area: clothe-four;
    }
    .wrapper-clothes div:first-child .images-medium {
        height: 1361px;
        width: 908px; 
    }
    /* troisième section desktop */
    
    .discover-shoes {
        height: 774px;
    }

    .container-shoes {
        height: 939px;
        width: 100vw;
    }

    .wrapper-shoes {
        width: 100%;
    }

    .shoe {
        width: 600px;
        height: 641px;
    }  
    /* footer desktop  */
    .socials {
        /* width: 25vw; */
        height: 60px;
    }
    footer p {
        font-size: 18px;
    }
}